extends layout

block content
    div(class="row slide")
        div(class="col-md-3")
            img(src=art, class="rounded mx-auto img-fluid slideanim")
        div(class="col-md-6")
            row
                h1(class="display-3") #{title}
            p(class="desc") #{desc}
        div(class="col-md-3")
            div(class="list-group slideanim")
                each track in tracks
                    if track.preview
                        a(href="#", class="list-group-item list-group-item-action", onclick="playback_toggle(this.children[0])") #{track.title}
                            audio
                                source(src=track.file, type="audio/mpeg")
                    else
                        a(href="#" class="list-group-item list-group-item-action disabled") #{track.title}
                    