mixin p_post(p)
	.container.post.rounded.compact
		.row
			.col-sm-1.p-1
				img.img-fluid.rounded(src=p.author_img)
			.col-sm-11
				h1=p.title
				p=p.summary

mixin post(p)
	.container.post.rounded
		.row.info
			.col-lg-1.p-1 
				img.img-fluid.rounded(src=p.author_img)
			.col-lg-11.p-1 
				h1 #{p.title} - #{p.author}
				h3=p.date
		.row
			p=p.summary
		.row
			img.img-fluid.rounded(src=p.image)
			
mixin v_post(p)
	.container.post.rounded
		.row.info
			.col-lg-1.p-1 
				img.img-fluid.rounded(src=p.author_img)
			.col-lg-11.p-1 
				h1 #{p.title} - #{p.author}
				h3=p.date
		.row
			p=p.summary
		.row
			img.img-fluid.rounded(src=p.image)